.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f4f4f4;
}

.bx--text-input {
  width: 100%;
}

.submit-button {
  display: block;
  margin: 1rem auto;
}
