/* Add a minimum height to the TableContainer */
.table-container {
  min-height: 1400px; /* Adjusted to a larger minimum height */
}

.header-section {
  padding: 20px 0;
}

.header-title {
  font-size: 24px;
  font-weight: bold;
}

.table-header {
  background-color: #f4f4f4;
}

.table-header-cell {
  font-weight: bold;
  padding: 16px;
}

.table-cell {
  padding: 16px;
}

.table-row:hover .table-cell-buttons button,
.nested-row:hover .table-cell-buttons button {
  visibility: visible;
}

.table-cell-buttons button {
  visibility: hidden;
  margin-left: 5px;
}
